

body {
    font-family: helvetica, sans-serif;
    margin: 2em;
    background-color: aliceblue;
  
}

h1 {
  size: 10em;
  color: blue;
}
p {
  size: 7em;
  color: #CCCC00;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
